@import "./base/reset";
@import "./base/mixin";
@import "./base/variables";
@import "./header";
@import "./services";
@import "./gallery";
@import "./about";

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    background: $color-grey-white;
    color: $color-green;
}